@use "sass:math";

.inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-start: 1;
  grid-column-end: 4;
}

input{
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 10px;
  text-align: center;
  &:focus {
    outline: none;
  }
}



.point{
  background-color: lawngreen;
}

// Grid system For the dijkstra game
.container {
  display: grid;
  
  grid-column: span 10; /* This makes the .container take up 10 columns */
  grid-column-start: 6;
  background-color: rgb(170, 170, 170);

}

body {
  background-color: rgb(170, 170, 170);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.row {
  display: flex;
}

.card {
  background-color: lightgray;
  &:hover {
    background-color: darken(lightgray, 7);
  }
  .obstacle{
    background-color: black;
  }
}


