@use "sass:math";


.point{
  background-color: lawngreen;
}

// Grid system For the dijkstra game
.container {
  display: grid;
  
  grid-column: span 10; /* This makes the .container take up 10 columns */
  grid-column-start: 6;
  background-color: rgb(170, 170, 170);

}

body {
  background-color: rgb(59, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}


// here's the button customization
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px ;
}

@mixin btn(){
  padding: 12px 12px;
  border-radius: 5px;
  border: none;
}

.hidden{
  display: none;
}

.reset{
  @include btn();
  background-color: rgb(107, 255, 107);
  margin: 0px 10px;
  svg{
    width: 20px;
    height: 20px;
  }
  &:hover{
    background-color: darken(rgb(107, 255, 107), 7);
  }
  }

.row {
  display: flex;
}

.card {
  background-color: lightgray;
  &:hover {
    background-color: darken(lightgray, 7);
  }
  .obstacle{
    background-color: black;
  }
}


